/* Internet Explorer-specific styles */
.grid-container {
    display: contents;
  }
  
.grid-container > * {
    margin-bottom: 30px; 
  }

  @media (max-width: 640px) {
    .grid-container {
      grid-template-columns: repeat(1fr);
      margin: auto;
      width: 100%;
      padding-right: 40px;
    }
  }
  