/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.violet-gradient {
  background: #804dee;
  background: -webkit-gradient(linear, right top, left top, from(#804dee), to(rgba(60, 51, 80, 50)));
  background: -o-linear-gradient(right, #804dee 0%, rgba(60, 51, 80, 50) 100%);
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 50) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 50) 100%
  );
}

.orange-gradient {
  background: #f12711; 
  background: -webkit-gradient(
    linear,
    left bottom, left top,
    from(#f12711),
    to(#f5af19)
  ); 
  background: -o-linear-gradient(
    bottom,
    #f12711,
    #f5af19
  ); 
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-gradient {
  background: #11998e; 
  background: -webkit-gradient(
    linear,
    left bottom, left top,
    from(#11998e),
    to(#38ef7d)
  ); 
  background: -o-linear-gradient(
    bottom,
    #11998e,
    #38ef7d
  ); 
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-gradient {
  background: #56ccf2; 
  background: -webkit-gradient(
    linear,
    left bottom, left top,
    from(#2f80ed),
    to(#56ccf2)
  ); 
  background: -o-linear-gradient(
    bottom,
    #2f80ed,
    #56ccf2
  ); 
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.silver-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#dcd0f6), to(#333333));
  background: -o-linear-gradient(top, #dcd0f6, #333333);
  background: linear-gradient(to bottom, #dcd0f6, #333333);
  background: -webkit-linear-gradient(
    to bottom,
    #dcd0f6,
    #333333
  );
}


@media (max-width: 729px) {
  .custom-top-margin {
    height:auto; 
    width: 100;
  }
}

@media (max-width: 640px) {
  .custom-media {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 1080px),
       (max-width: 640px) {
  .custom-media2 {
    display: none;
  }

  .contact-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 667px) {
  .custom-media3 {
    margin-top: 0 !important;
    margin-bottom: 100px;
  }
}

/* Add your existing CSS here */

/* Apply specific styles only for Mozilla Firefox */
@supports (-moz-appearance: none) {
  .custom-media3 {
    gap: 10px; /* Adjust the gap as needed for Firefox */
    margin-top: 25px;
    padding: 5px;
    font-size: 14px;
    width: 100%;
    height: 100%;
  }

  .custom-media2 {
    display: none;
  }
}


/* Internet Explorer-specific styles */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE-specific styles here */
  .grid-container {
    display: contents;
  }
}

@supports (-ms-ime-align: auto) {
  /* IE-specific styles here */
  .grid-container {
    display: contents;
  }
}

@media (max-width: 667px) {
  .home_img {
    margin-top: 50px;
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 667px) {
  .home_3d {
    margin-top: 50px;
    height: 400px;
    width: 400px;
  }
}


section {
  margin-top: 50px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #about {
    margin-top: 170px;
  }
}

@media (max-width: 667px) {
  #about {
    margin: 50px 20px 70px 20px;
  }
}