@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 50) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 50) 100%
  );
}

.orange-gradient {
  background: #f12711; 
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); 
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-gradient {
  background: #11998e; 
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); 
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-gradient {
  background: #56ccf2; 
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); 
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.silver-gradient {
  background: linear-gradient(to bottom, rgba(192, 192, 192, 0), #c0c0c0);
  background: -webkit-linear-gradient(
    to bottom,
    rgba(192, 192, 192, 0),
    #c0c0c0
  );
}
